Valid emails are not accepted when adding users

Steps to reproduce:

1. add n/john tan s/m r/student p/98765432 e/john..d@example.com a/Johnstreet, block 123, #01-01
2. Notice that error message occurs
Bug inherited from AB3
![Screenshot 2024-11-15 at 4.16.19 PM.png](https://raw.githubusercontent.com/chiangqinkang/pe/main/files/5e359d6c-91c0-41cc-ae61-1053b20e6386.png)



<!--session: 1731656895459-e85732b1-85c7-4b07-bf23-257277660def-->
<!--Version: Desktop v3.5.4-->

# Team's Response
Thank you for raising the concern regarding consecutive dots in email addresses.

However, as per RFC 5322, Section 3.4.1, the "local-part" of an email address explicitly disallows consecutive dots. The RFC defines the "dot-atom" format, which only permits a single dot to act as a separator. This means email addresses with two consecutive dots (e.g., "john..doe@example.com") are considered invalid because the standard strictly prohibits multiple consecutive dots in the local part of the address. As per section 3.4.1 of RFC 5322 specifies that a dot atom "contains no characters other than atext characters or "." surrounded by atext characters". Hence, by definition, a dot atom should not contain more than one consecutive periods [p2].

Our application adheres to this industry-standard rule to ensure email addresses are properly validated and compatible with other systems. While we do allow a single dot and other valid separators, consecutive dots are intentionally disallowed in line with the RFC to avoid potential validation errors. As shown in the example below [P1], a single dot is valid as a separator in email addresses.

If you have any further questions or concerns, please don't hesitate to reach out!

Our program allows adding emails with one dot, which is a valid email format, please see the outcome of adding it below:

**[P1]**
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S1/pe/master/files/7df37b33-3e17-42fe-aa8f-e57fd79042dd.png)

**[P2]**
![image.png](https://raw.githubusercontent.com/nus-cs2103-AY2425S1/pe/master/files/41f47cec-eeff-4538-a46f-121303356990.png)
# Items for the Tester to Verify
## :question: Issue response

Team chose [`response.NotInScope`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

<catcher-end-of-segment><hr>
## :question: Issue severity

Team chose [`severity.Low`]
Originally [`severity.Medium`]

- [ ] I disagree

**Reason for disagreement:** [replace this with your explanation]

<catcher-end-of-segment><hr>
